In [32]:
import asyncio
import aiohttp
import os
import time
from pandas.core.frame import DataFrame as df
import pandas as pd
from datetime import datetime as dt
import requests as req
from pandas import json_normalize
import pyodbc
from fast_to_sql import fast_to_sql as fts
import connectorx as cx
import sqlalchemy
from pandasql import sqldf
import re 
import numpy as np
from time import strftime
from time import gmtime
from humanfriendly import format_timespan
import requests
from requests_negotiate import HTTPNegotiateAuth
import phonenumbers
import json
from os import listdir
from os.path import isfile, join
import glob
from tabulate import tabulate

In [26]:
onlyfiles = glob.glob('D:\\dwh-coding-challenge\\DWH-Challenge\\data\\accounts\\*.json')

list_data=[]

for i in range(0,len(onlyfiles)):
    f = open(onlyfiles[i])
    data = json.load(f)
    list_data.append(data)

list_data=pd.DataFrame(list_data)
#SOLUTION NO 1, accounts
print(tabulate(list_data))

-  ----------  -  -------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------------------------------------------------
0  a1globalid  c  1577863800000  {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '12345678', 'email': 'anthony@somebank.com'}  nan
1  a1globalid  u  1577865600000  nan                                                                                                                          {'phone_number': '87654321'}
2  a1globalid  u  1577890800000  nan                                                                                                                          {'savings_account_id': 'sa1'}
3  a1globalid  u  1577894400000  nan                                                                                                                          {'address': 'Jakarta', 'email': 'anthony@anotherbank.com'}
4  a1globalid  u  1577926800000  nan                                                                                                                          {'card_id': 'c1'}
5  a1globalid  u  1579078860000  nan                                                                                                                          {'card_id': ''}
6  a1globalid  u  1579163400000  nan                                                                                                                          {'card_id': 'c2'}
-  ----------  -  -------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------------------------------------------------

In [27]:
onlyfiles = glob.glob('D:\\dwh-coding-challenge\\DWH-Challenge\\data\\cards\\*.json')

list_data=[]

for i in range(0,len(onlyfiles)):
    f = open(onlyfiles[i])
    data = json.load(f)
    list_data.append(data)

list_data=pd.DataFrame(list_data)
#SOLUTION NO 1, cards
print(tabulate(list_data))

-  ----------  -  -------------  -----------------------------------------------------------------------------------------------------------  ----------------------
0  c1globalid  c  1577926800000  {'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000, 'status': 'PENDING'}  nan
1  c1globalid  u  1578159000000  nan                                                                                                          {'status': 'ACTIVE'}
2  c1globalid  u  1578313800000  nan                                                                                                          {'credit_used': 12000}
3  c1globalid  u  1578420000000  nan                                                                                                          {'credit_used': 19000}
4  c1globalid  u  1578654000000  nan                                                                                                          {'credit_used': 0}
5  c1globalid  u  1579078800000  nan                                                                                                          {'status': 'CLOSED'}
6  c2globalid  c  1579163400000  {'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000, 'status': 'PENDING'}  nan
7  c2globalid  u  1579298400000  nan                                                                                                          {'status': 'ACTIVE'}
8  c2globalid  u  1579361400000  nan                                                                                                          {'credit_used': 37000}
-  ----------  -  -------------  -----------------------------------------------------------------------------------------------------------  ----------------------

In [28]:
onlyfiles = glob.glob('D:\\dwh-coding-challenge\\DWH-Challenge\\data\\savings_accounts\\*.json')

list_data=[]

for i in range(0,len(onlyfiles)):
    f = open(onlyfiles[i])
    data = json.load(f)
    list_data.append(data)

list_data=pd.DataFrame(list_data)
#SOLUTION NO 1, savings_accounts
print(tabulate(list_data))

-  -----------  -  -------------  ---------------------------------------------------------------------------------------------  ------------------------------
0  sa1globalid  c  1577890800000  {'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}  nan
1  sa1globalid  u  1577955600000  nan                                                                                            {'balance': 15000}
2  sa1globalid  u  1578159060000  nan                                                                                            {'interest_rate_percent': 3.0}
3  sa1globalid  u  1578648600000  nan                                                                                            {'balance': 40000}
4  sa1globalid  u  1578654000000  nan                                                                                            {'balance': 21000}
5  sa1globalid  u  1579078860000  nan                                                                                            {'interest_rate_percent': 1.5}
6  sa1globalid  u  1579298460000  nan                                                                                            {'interest_rate_percent': 4.0}
7  sa1globalid  u  1579505400000  nan                                                                                            {'balance': 33000}
-  -----------  -  -------------  ---------------------------------------------------------------------------------------------  ------------------------------

In [29]:

onlyfiles = glob.glob('D:\\dwh-coding-challenge\\DWH-Challenge\\data\\*\\*.json')


list_data=[]

for i in range(0,len(onlyfiles)):
    f = open(onlyfiles[i])
    data = json.load(f)
    data['table_name']  = os.path.basename(os.path.dirname(onlyfiles[i]))
    list_data.append(data)


list_data=pd.DataFrame(list_data)
list_data=list_data.sort_values('ts')
#SOLUTION NO 1 but on loop and merger on 1 dataframe, Each table name on table_name or coloumn number 5
print(tabulate(list_data))

--  -----------  -  -------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------  ----------------------------------------------------------
 0  a1globalid   c  1577863800000  {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '12345678', 'email': 'anthony@somebank.com'}  accounts          nan
 1  a1globalid   u  1577865600000  nan                                                                                                                          accounts          {'phone_number': '87654321'}
 2  a1globalid   u  1577890800000  nan                                                                                                                          accounts          {'savings_account_id': 'sa1'}
16  sa1globalid  c  1577890800000  {'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}                                savings_accounts  nan
 3  a1globalid   u  1577894400000  nan                                                                                                                          accounts          {'address': 'Jakarta', 'email': 'anthony@anotherbank.com'}
 4  a1globalid   u  1577926800000  nan                                                                                                                          accounts          {'card_id': 'c1'}
 7  c1globalid   c  1577926800000  {'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000, 'status': 'PENDING'}                  cards             nan
17  sa1globalid  u  1577955600000  nan                                                                                                                          savings_accounts  {'balance': 15000}
 8  c1globalid   u  1578159000000  nan                                                                                                                          cards             {'status': 'ACTIVE'}
18  sa1globalid  u  1578159060000  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 3.0}
 9  c1globalid   u  1578313800000  nan                                                                                                                          cards             {'credit_used': 12000}
10  c1globalid   u  1578420000000  nan                                                                                                                          cards             {'credit_used': 19000}
19  sa1globalid  u  1578648600000  nan                                                                                                                          savings_accounts  {'balance': 40000}
20  sa1globalid  u  1578654000000  nan                                                                                                                          savings_accounts  {'balance': 21000}
11  c1globalid   u  1578654000000  nan                                                                                                                          cards             {'credit_used': 0}
12  c1globalid   u  1579078800000  nan                                                                                                                          cards             {'status': 'CLOSED'}
 5  a1globalid   u  1579078860000  nan                                                                                                                          accounts          {'card_id': ''}
21  sa1globalid  u  1579078860000  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 1.5}
13  c2globalid   c  1579163400000  {'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000, 'status': 'PENDING'}                  cards             nan
 6  a1globalid   u  1579163400000  nan                                                                                                                          accounts          {'card_id': 'c2'}
14  c2globalid   u  1579298400000  nan                                                                                                                          cards             {'status': 'ACTIVE'}
22  sa1globalid  u  1579298460000  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 4.0}
15  c2globalid   u  1579361400000  nan                                                                                                                          cards             {'credit_used': 37000}
23  sa1globalid  u  1579505400000  nan                                                                                                                          savings_accounts  {'balance': 33000}
--  -----------  -  -------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------  ----------------------------------------------------------

In [30]:

onlyfiles = glob.glob('D:\\dwh-coding-challenge\\DWH-Challenge\\data\\*\\*.json')


list_data2=[]

for i in range(0,len(onlyfiles)):
    f = open(onlyfiles[i])
    data = json.load(f)
    data['table_name']  = os.path.basename(os.path.dirname(onlyfiles[i]))
    list_data2.append(data)

#Sorting List by Historical
list_data2=pd.DataFrame(list_data)
list_data2=list_data2.sort_values('ts')
list_data2 = list_data2.values.tolist()

def Convert(lst):
    res_dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return res_dct
    
for i in range(0,len(list_data2)):
    if(i==0):
        if('u' in list_data2[i][1]):
            list_data2[i].append([])
            list_data2[i][6]=list_data2[i][5]
        else:
            list_data2[i].append([])
            list_data2[i][6]=list_data2[i][3]
    else:
        if('u' in list_data2[i][1]):
            list_data2[i].append([])
            list_data2[i][6]=list_data2[i-1][6] | list_data2[i][5]
        else:
            list_data2[i].append([])
            list_data2[i][6]=list_data2[i-1][6] | list_data2[i][3]

#Solution No 2 with updated_result if the update and new data takes place
list_data2=pd.DataFrame(list_data2,columns=['id','op','ts','data','table_name','set','updated_result'])

print(tabulate(list_data2))

--  -----------  -  -------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------  ----------------------------------------------------------  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 0  a1globalid   c  1577863800000  {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '12345678', 'email': 'anthony@somebank.com'}  accounts          nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '12345678', 'email': 'anthony@somebank.com'}
 1  a1globalid   u  1577865600000  nan                                                                                                                          accounts          {'phone_number': '87654321'}                                {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '87654321', 'email': 'anthony@somebank.com'}
 2  a1globalid   u  1577890800000  nan                                                                                                                          accounts          {'savings_account_id': 'sa1'}                               {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '87654321', 'email': 'anthony@somebank.com', 'savings_account_id': 'sa1'}
 3  sa1globalid  c  1577890800000  {'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}                                savings_accounts  nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '87654321', 'email': 'anthony@somebank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}
 4  a1globalid   u  1577894400000  nan                                                                                                                          accounts          {'address': 'Jakarta', 'email': 'anthony@anotherbank.com'}  {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}
 5  a1globalid   u  1577926800000  nan                                                                                                                          accounts          {'card_id': 'c1'}                                           {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE', 'card_id': 'c1'}
 6  c1globalid   c  1577926800000  {'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000, 'status': 'PENDING'}                  cards             nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
 7  sa1globalid  u  1577955600000  nan                                                                                                                          savings_accounts  {'balance': 15000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
 8  c1globalid   u  1578159000000  nan                                                                                                                          cards             {'status': 'ACTIVE'}                                        {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 1.5, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
 9  sa1globalid  u  1578159060000  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 3.0}                              {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
10  c1globalid   u  1578313800000  nan                                                                                                                          cards             {'credit_used': 12000}                                      {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 12000, 'monthly_limit': 30000}
11  c1globalid   u  1578420000000  nan                                                                                                                          cards             {'credit_used': 19000}                                      {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 19000, 'monthly_limit': 30000}
12  sa1globalid  u  1578648600000  nan                                                                                                                          savings_accounts  {'balance': 40000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 40000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 19000, 'monthly_limit': 30000}
13  sa1globalid  u  1578654000000  nan                                                                                                                          savings_accounts  {'balance': 21000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 19000, 'monthly_limit': 30000}
14  c1globalid   u  1578654000000  nan                                                                                                                          cards             {'credit_used': 0}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
15  c1globalid   u  1579078800000  nan                                                                                                                          cards             {'status': 'CLOSED'}                                        {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'CLOSED', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
16  a1globalid   u  1579078860000  nan                                                                                                                          accounts          {'card_id': ''}                                             {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'CLOSED', 'card_id': '', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
17  sa1globalid  u  1579078860000  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 1.5}                              {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'CLOSED', 'card_id': '', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
18  c2globalid   c  1579163400000  {'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000, 'status': 'PENDING'}                  cards             nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
19  a1globalid   u  1579163400000  nan                                                                                                                          accounts          {'card_id': 'c2'}                                           {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
20  c2globalid   u  1579298400000  nan                                                                                                                          cards             {'status': 'ACTIVE'}                                        {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
21  sa1globalid  u  1579298460000  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 4.0}                              {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 4.0, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
22  c2globalid   u  1579361400000  nan                                                                                                                          cards             {'credit_used': 37000}                                      {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 4.0, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 37000, 'monthly_limit': 70000}
23  sa1globalid  u  1579505400000  nan                                                                                                                          savings_accounts  {'balance': 33000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 33000, 'interest_rate_percent': 4.0, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 37000, 'monthly_limit': 70000}
--  -----------  -  -------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------  ----------------------------------------------------------  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [31]:
# SOLUTION NO 3
# Change timestamp to datetime for easier read


list_data2['ts']=[time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(int(str(x)[:10]))) for x in list_data2['ts']]

print(tabulate(list_data2))
# Convenient Read

#   From result from point no 2, discuss how many transactions has been made, when did each of them occur, and how much the value of each transaction?  
#    Transaction is defined as activity which change the balance of the savings account or credit used of the card

    #how many transactions has been made
        #  There are 8 transactions with 4 of them are Balance Type and 4 are credit used, 
            #  But if we look at card type thats been used as transaction, c2 has 2 historical transaction and c1 has triple transaction amount
                #c2 has 2 historical transaction and c1 has triple transaction amount
    #when did each of them occur
        #  C1 has 6 Transaction that happen at  1x balance transaction  at 2 January 2020, 1x credit used at 6 January 2020, 1x credit used at 8 January 2020, 3x (2x balance and 1x credit used transaction) at 10 January 2020
            #   C2 has 2 Transaction that happen at  1x credit used  at 18 January 2020, 1x balance transaction at 20 January 2020  
                #   All of them happen at January 2020
    #how much the value of each transaction
        #  C1 has sum of 76000 value balance transaction and 38000 credit used value transaction
            #   C2 has sum of 33000 value balance transaction and 37000 credit used value transaction
                #  With 2 of them combined has value 184000

    #Interesting Fact that, It's true that 'monthly_limit' of credit will increase as we using it

--  -----------  -  -------------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------  ----------------------------------------------------------  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 0  a1globalid   c  2020-01-01 14:30:00  {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '12345678', 'email': 'anthony@somebank.com'}  accounts          nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '12345678', 'email': 'anthony@somebank.com'}
 1  a1globalid   u  2020-01-01 15:00:00  nan                                                                                                                          accounts          {'phone_number': '87654321'}                                {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '87654321', 'email': 'anthony@somebank.com'}
 2  a1globalid   u  2020-01-01 22:00:00  nan                                                                                                                          accounts          {'savings_account_id': 'sa1'}                               {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '87654321', 'email': 'anthony@somebank.com', 'savings_account_id': 'sa1'}
 3  sa1globalid  c  2020-01-01 22:00:00  {'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}                                savings_accounts  nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'New York', 'phone_number': '87654321', 'email': 'anthony@somebank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}
 4  a1globalid   u  2020-01-01 23:00:00  nan                                                                                                                          accounts          {'address': 'Jakarta', 'email': 'anthony@anotherbank.com'}  {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE'}
 5  a1globalid   u  2020-01-02 08:00:00  nan                                                                                                                          accounts          {'card_id': 'c1'}                                           {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'ACTIVE', 'card_id': 'c1'}
 6  c1globalid   c  2020-01-02 08:00:00  {'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000, 'status': 'PENDING'}                  cards             nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 0, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
 7  sa1globalid  u  2020-01-02 16:00:00  nan                                                                                                                          savings_accounts  {'balance': 15000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
 8  c1globalid   u  2020-01-05 00:30:00  nan                                                                                                                          cards             {'status': 'ACTIVE'}                                        {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 1.5, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
 9  sa1globalid  u  2020-01-05 00:31:00  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 3.0}                              {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
10  c1globalid   u  2020-01-06 19:30:00  nan                                                                                                                          cards             {'credit_used': 12000}                                      {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 12000, 'monthly_limit': 30000}
11  c1globalid   u  2020-01-08 01:00:00  nan                                                                                                                          cards             {'credit_used': 19000}                                      {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 15000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 19000, 'monthly_limit': 30000}
12  sa1globalid  u  2020-01-10 16:30:00  nan                                                                                                                          savings_accounts  {'balance': 40000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 40000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 19000, 'monthly_limit': 30000}
13  sa1globalid  u  2020-01-10 18:00:00  nan                                                                                                                          savings_accounts  {'balance': 21000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 19000, 'monthly_limit': 30000}
14  c1globalid   u  2020-01-10 18:00:00  nan                                                                                                                          cards             {'credit_used': 0}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'ACTIVE', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
15  c1globalid   u  2020-01-15 16:00:00  nan                                                                                                                          cards             {'status': 'CLOSED'}                                        {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'CLOSED', 'card_id': 'c1', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
16  a1globalid   u  2020-01-15 16:01:00  nan                                                                                                                          accounts          {'card_id': ''}                                             {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 3.0, 'status': 'CLOSED', 'card_id': '', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
17  sa1globalid  u  2020-01-15 16:01:00  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 1.5}                              {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'CLOSED', 'card_id': '', 'card_number': '11112222', 'credit_used': 0, 'monthly_limit': 30000}
18  c2globalid   c  2020-01-16 15:30:00  {'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000, 'status': 'PENDING'}                  cards             nan                                                         {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
19  a1globalid   u  2020-01-16 15:30:00  nan                                                                                                                          accounts          {'card_id': 'c2'}                                           {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'PENDING', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
20  c2globalid   u  2020-01-18 05:00:00  nan                                                                                                                          cards             {'status': 'ACTIVE'}                                        {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 1.5, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
21  sa1globalid  u  2020-01-18 05:01:00  nan                                                                                                                          savings_accounts  {'interest_rate_percent': 4.0}                              {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 4.0, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 0, 'monthly_limit': 70000}
22  c2globalid   u  2020-01-18 22:30:00  nan                                                                                                                          cards             {'credit_used': 37000}                                      {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 21000, 'interest_rate_percent': 4.0, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 37000, 'monthly_limit': 70000}
23  sa1globalid  u  2020-01-20 14:30:00  nan                                                                                                                          savings_accounts  {'balance': 33000}                                          {'account_id': 'a1', 'name': 'Anthony', 'address': 'Jakarta', 'phone_number': '87654321', 'email': 'anthony@anotherbank.com', 'savings_account_id': 'sa1', 'balance': 33000, 'interest_rate_percent': 4.0, 'status': 'ACTIVE', 'card_id': 'c2', 'card_number': '12123434', 'credit_used': 37000, 'monthly_limit': 70000}
--  -----------  -  -------------------  ---------------------------------------------------------------------------------------------------------------------------  ----------------  ----------------------------------------------------------  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------